<!doctype html>
<html>
    <head></head>
    <body>
        <form action="/madlib">
            Whats your name?
            <input type="text" name="person"> <br>
            Whats your favorite color?
            <select name="color">
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
            </select> <br>
            Noun
            <input type="radio" name="noun" value="cat">
            <label>Cat</label>
            <input type="radio" name="noun" value="dog">
            <label>Dog</label> <br>
            Adjective
            <input type="text" name="adjective">
            <input type="submit">
        </form>

    </body>


</html>